@import "tailwindcss";

/* ✅ Fonts */
@layer base {
  @font-face {
    font-family: "FuturaPT";
    src: url("/assets/futura-pt_bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FuturaPT";
    src: url("/assets/futura-pt_heavy_oblique.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
}

/* ✅ Utilities */
@layer utilities {
  .font-futura {
    font-family: "FuturaPT", sans-serif;
  }
}
