<% if scheduled_sessions.blank? %>
  <p class="text-center text-gray-500 pt-6">
    No sessions found. Try changing your filters.
  </p>
<% else %>

  <% scheduled_sessions.each do |session| %>
    <div class="pb-6">

      <!-- Time Slots -->
      <div class="mt-1 space-y-3 pb-2">

        <% slots = time_slots.presence || session.time_slots.order(:start_time) %>

        <% slots.each do |time_slot| %>
          <div class="flex items-center justify-between gap-4">

            <div class="text-lg font-futura-heavy-italic">
              <%= time_slot.start_time.strftime("%H.%M") %>
              to
              <%= time_slot.end_time.strftime("%H.%M") %>
            </div>

            <%= link_to "BOOK",
                  new_booking_path(time_slot_id: time_slot.id),
                  class: "book-button book-button-primary" %>

          </div>
        <% end %>

      </div>

    </div>
  <% end %>

<% end %>
