<!DOCTYPE html>
<html>
  <head>
    <title>Bleep</title>
    <%= render "layouts/head" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
